<div
  class="bg-gray-900 text-white w-64 h-full fixed top-0 left-0 z-40 transform transition-transform duration-300 shadow-lg md:relative"
  [ngClass]="{
    'translate-x-0': isSidebarOpen,
    '-translate-x-full': !isSidebarOpen,
    'md:translate-x-0': true
  }"
>
 

  <!-- Navigation -->
  <nav class="mt-0 px-4 flex-1 overflow-y-auto">
    <ul class="space-y-4">
 
      <li>
        <a
          routerLink="/student-dashboard/course-list"
          routerLinkActive="bg-gray-800 text-blue-400"
          class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 hover:text-blue-400 transition font-medium hover:border border-white"
        >
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          My Courses
        </a>
      </li>

      <li>
        <a
          routerLink="/student-dashboard/grades"
          routerLinkActive="bg-gray-800 text-blue-400"
          class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 hover:text-blue-400 transition font-medium hover:border border-white"
        >
            <!-- Result Icon -->
    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M4 3h14a1 1 0 0 1 1 1v16l-2-2H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z"/>
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M7 8h6M7 12h4"/>
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M17 17l2 2l4-4"/>
    </svg>
          Result
        </a>
      </li>

      <li>
        <a
          routerLink="/student-dashboard/edit-user"
          routerLinkActive="bg-gray-800 text-blue-400"
          class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 hover:text-blue-400 transition font-medium hover:border border-white"
        >
          <svg
            class="w-5 h-5"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16 21v-2a4 4 0 0 0-4-4H7a4 4 0 0 0-4 4v2M12 11a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm8 8v-2m0 0h-2m2 0h2"
            />
          </svg>
        Profile
        </a>
      </li>
    </ul>
  </nav>
</div>
